fastapi
uvicorn[standard]
pydantic
pydantic[email]
python-dotenv
motor
passlib[bcrypt]
python-jose[cryptography]
python-multipart
"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"   # <-- paste your key inside quotes
