@tailwind base;
@tailwind components;
@tailwind utilities;
/* Fade */
@keyframes fadeSlow {
  from { opacity: 0; }
  to { opacity: 1; }
}
.animate-fadeSlow {
  animation: fadeSlow 0.8s ease-in-out;
}

/* Slide Up */
@keyframes slideUp {
  from { opacity: 0; transform: translateY(20px); }
  to { opacity: 1; transform: translateY(0); }
}
.animate-slideUp {
  animation: slideUp 0.7s ease-out;
}

/* Slide Down */
@keyframes slideDown {
  from { opacity: 0; transform: translateY(-10px); }
  to { opacity: 1; transform: translateY(0); }
}
.animate-slideDown {
  animation: slideDown 0.7s ease-out;
}

/* Scale Up (charts) */
@keyframes scaleUp {
  from { opacity: 0; transform: scale(0.9); }
  to { opacity: 1; transform: scale(1); }
}
.animate-scaleUp {
  animation: scaleUp 0.7s ease-out;
}

html.dark {
  background-color: #111827;
  color-scheme: dark;
}
